@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.container {
  width: 100%;
  max-width: $container-xl;
  margin: 0 auto;
  padding: 0 24px;
}

@include mobile {
  .container {
    padding: 0 16px;
  }
}